body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import 'antd/dist/antd.css';
.ant-layout-sider-trigger {
  background-color: white;
  float: right;
  color: seagreen;
}
span.anticon.anticon-double-left{
  float: right;
  font-size: 25px;
}
span.anticon.anticon-double-right{
  float: right;
  font-size: 25px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
